---
---

@import "{{ site.theme }}";

/**
 * See https://github.com/pages-themes/tactile/blob/master/README.md#stylesheet.
 */

/**
 * Otherwise borders of tables are white on light grey, they're invisible.
 */
table, td {
  border-color: #444;
  background: white;
}

.cell-green {
  background: rgb(41, 253, 47);
}

.cell-black {
  background: black;
  color: white;
  font-weight: bold;
}
