---
---

@import "{{ site.theme }}";

/**
 * See https://github.com/pages-themes/tactile/blob/master/README.md#stylesheet.
 */

/**
 * Otherwise borders of tables are white on light grey, they're invisible.
 */
table, td {
  border-color: #444;
  background: white;
}

.cell-green {
  background: rgb(41, 253, 47);
}

.cell-cyan {
  background: rgb(45, 255, 254);
}

.cell-yellow {
  background: rgb(255, 253, 56);
}

.cell-light-green {
  background: rgb(217, 234, 212);
}

.cell-red {
  background: rgb(252, 13, 27);
}

.cell-light-blue {
  background: rgb(208, 226, 242);
}

.cell-dark-blue {
  background: rgb(165, 195, 242);
}

.white {
  background: white;
}

.cell-black {
  background: black;
  color: white;
  font-weight: bold;
}
